$src: "./Header-gif.gif";
.Page_Header__container{
  min-height: 30%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  background-position: 60% 70%;
  background-size: 100%;
  padding: 0 7rem;
  overflow: hidden;
  background-repeat: no-repeat;
  @media screen and (max-width: 768px) {
    padding: 0 2rem;
  }
  svg{
    display: block;
  }
  .Page_Header-title{
    color: #fff;
    font-size: 3rem;
    z-index: 1;
    width: 100%;
    @media screen and (max-width:768px) {
      font-size: 2rem;
      padding: 0 1.5rem;
    }
  }

  &::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 130%;
    background: linear-gradient(0deg, rgba(#0b0a1a, 0.85) 80%, transparent);
    z-index: 0;
    left: 0;
    top:0
  }
}