@import '../../Styles/brand-colours.scss';
.Home__all{
  display: flex;
  position: relative;
  height: 100%;
}
.Home__section{
  width: 100%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 15rem 5rem ;
  background:linear-gradient(90deg, #0b0a1a 40%,transparent), url(../../../public/img/home_page/Header-gif.gif);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;

  @media screen and (max-width: 700px) {
    padding: 2rem 1.5rem;
  }
 

  .Home__content{
    display: flex;
    flex-direction: column;
    width: 70%;
  }

}

.Home__title{
  margin: 0;
  font-size: 3rem;

  @media screen and (max-width: 700px) {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

.no-register{
  color: #ff0000;
  margin: 0;
  font-size: 0.75rem;
  @media screen and (max-width: 700px) {
    font-size: 0.5rem;
    line-height: 1rem;
  }
}
.Home__date{
  font-size: 1.25rem;
  margin: 2.5rem 0;
  font-weight: 300;

  @media screen and (max-width: 700px) {
    font-size: 1rem;
    line-height: 1.5rem;
  }

}
.CTAs_Home{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  @media screen and (min-width: 600px) {
    max-width: 60%;
    flex-wrap: nowrap;
  }
}

.Home_CTA_main,.Home_CTA_secondary{
    border-radius: 0.1rem;
    color: #fff;
    text-decoration: none;
    padding: 2.5% 0;
    margin-right: 1rem;
    margin-bottom: 1rem;
    display: inline-block;
    transition: background-color 0.4s ease;
    width: 50%;
    text-align: center;
}

.Home_CTA_main{
  border:0.1rem solid #e300ff;
  &:hover{
    background-color: #c921c9;
    border-color: #c921c9;
  }
  &:focus{
    background-color: #3d033d;
    border: 0.1rem #000 solid;
  }
}

.Home_CTA_secondary{
  border:0.1rem solid #ff7e00;
    &:hover{
      background-color: #da6d01;
      border-color: #da6d01;
    }
    &:focus{
      background-color: #8d5c00;
      border: 0.1rem solid #000;
    }
}

.regPopWall{
  position: fixed;
  top:0;
  left:0;
  transform: 0,0;
  height: 100%;
  width: 100%;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all ease 0.5s;
  background-color: rgba($color: #151231, $alpha: 0.9);
  .regPopBox{
    background-color: #100e26;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    color: #fff;
    border-radius: 1rem;
    background: linear-gradient(45deg, #0b0a1a,rgba(#fff, 0.13), #151231);
    animation: gradient-move 4s infinite;
    background-size: 300% 300%;
    padding: 2rem 0;

    .RegPop__textContainer{
      height: 100%;
      width: 100%;
      background-color: #0b0a1a;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 2rem 5rem;
      @media screen and (max-width: 1000px) {
        padding: 1rem 3rem;
      }
      
      .regPopupText{
        font-size: 2rem;
        @media screen and (max-width:1000px) {
          font-size: 1rem;
        }
      }
    }
  }
}