.Contact_Container{
  background-image: url('./img/Channel-Sec-Background.png');
  display: flex;
  flex-direction: column;
  padding: 3rem 4rem;
  color: #fff;
  transition: all 0.4s ease-out;
  @media screen and (max-width: 760px) {
    padding: 1rem;
    background: none;
}
}

.Contact_title{
  font-size: 2.5rem;
  display: inline-block;
  width:7%;
  padding-bottom: 1rem;
  border-bottom: orange 2px solid;
  margin: 0 0 5rem;
}

.Contact__contacts_container{
  display: flex;
  width: 100%;
  @media screen and (max-width: 760px) {
    flex-direction: column;
  }
  @media screen and (min-width: 761px) and (max-width: 1200px) {
    flex-wrap: wrap;
  }
}

.Contact__contact{
  display: flex;
  flex-direction: column;
  width: 33%;
  align-items: flex-start;
  margin-right: 1.5rem;
  @media screen and (max-width: 760px) {
    width: 100%;
    margin: 0 0 5rem;
}
@media screen and (min-width: 761px) and (max-width: 1200px) {
  width: 45%;  
  margin: 0 0 7rem;
}
}

.Contact__department-heading{
  margin: 0 0 3rem;
  font-size: 1rem;
}
.Contact__contact_container{
  display: flex;

  i, a, p, h4{
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 0;
  }
  a{
    color: #fff;
  }
  i{
    margin-right: 1rem;
  }
 
}

 .email-container{
    margin: 1rem 0;
  }

.Contact__contact_name{
  position: relative;
  z-index: 3;
  
  &::after{
    position: absolute;
    content: '';
    background: linear-gradient(90deg,#0b0a1a 0, #100e26 100%);
    bottom:0%;
    left: -5%;
    width: 130%;
    height: 190%;
    z-index: -11;
    box-shadow: rgba($color: #0b0a1a, $alpha: 1.0) 10px 15px 15px;
  }
}

.Contact__contact_title{
  padding: 1rem 0 0;
  font-size: 1.2rem;
  color: orange;
}